/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .overlay:after{
        width: 70%;
        opacity: 0.8;
    }
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .overlay:after{
        width: 60%;
    }
    .swiper {
        width: 75%;
        height: 100%;
      }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .overlay:after{
        width: 50%;
    }
    header{
        background-color: inherit;
    }
    .banner-text {
        transform: translate(26%, 70%);
    }
 }

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    
 }